@{
    ViewData["Title"] = "Trouver un héros";
}
<h1>@ViewData["Title"]</h1>

    <div class="container flex-row">
        <div class="row d-flex justify-content-center align-items-center mb-4">
             <div id="map"></div>
        </div>
    </div>
}