@{
    ViewData["Title"] = "Accueil";
}

<div class="text-center">
    <h1 class="display-4 maintitle">Supers Héros</h1>
    <p class="lead">Le service de proximité</p>
    <h2 class="subtitle">Vous êtes ?</h2>
    <button>Un super héros</button>
    <button style="background-color: rgba(255,16,0,0.69); color: white;">Un citoyen en détresse</button>

    <div class="container">
      <div class="carousel">
        <div class="carousel__face"></div>
        <div class="carousel__face"></div>
        <div class="carousel__face"></div>
        <div class="carousel__face"></div>
        <div class="carousel__face"></div>
        <div class="carousel__face"></div>
        <div class="carousel__face"></div>
        <div class="carousel__face"></div>
        <div class="carousel__face"></div>
      </div>
    </div>
</div>