@{
    ViewData["Title"] = "Super Héros ? M'enregistrer";
}
<h1>@ViewData["Title"]</h1>

<div class="container flex-row">
    <div class="row d-flex justify-content-center align-items-center mb-4">
        <dl class="col-md-9">
            <dl class="row">
                <form method="post">
                    <dt class="col-sm-3">Nom</dt>
                    <dd class="col-sm-9">
                        <input type="text" placeholder="SuperDupont" name="LastName" class="form-control" maxlength="20">
                    </dd>
                    <hr/>
                    <dt class="col-sm-3">Téléphone</dt>
                    <dd class="col-sm-9">
                        <input type="text" placeholder="+3300000000" name="PhoneNumber" class="form-control" maxlength="20">
                    </dd>
                    <hr/>
                    <dt class="col-sm-3">Email</dt>
                    <dd class="col-sm-9">
                        <input type="text" placeholder="jean@dupont.fr" name="Email" class="form-control" maxlength="20">
                    </dd>
                    <hr/>
                    <dt class="col-sm-3">Incidents gérés</dt>
                    <dd class="col-sm-9">
                        <select class="form-control" name="IncidentId">
                            <option value="1">Incident 1</option>
                            <option value="2">Incident 2</option>
                            <option value="3">Incident 3</option>
                        </select>
                    </dd>
                    <hr/>
                    <dt class="col-sm-3">Localisation</dt>
                    <dd class="col-sm-9">
                        <p>Longitude</p> <input type="text" placeholder="2.287592" name="Email" class="form-control" maxlength="20">
                        <p>Latitude</p> <input type="text" placeholder="48.862725" name="Email" class="form-control" maxlength="20">
                    </dd>
                    <input type="submit" value="Enregistrer" class="btn btn-primary"/>
                </form>
            </dl>
        </dl>
    </div>
</div>
}