html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background: #0d6efd;
    font-family: sans-serif;
    margin-bottom: 60px;
}

/* Navbar */

header {
    background-color: #0d6efd;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
}

nav {
    color: red !important;
    padding: 10px;
    margin-bottom: 20px;
}

.nav-item {
    padding: 10px;
    border-right: 1px solid black;
}

.nav-item:last-child {
    border-right: none;
}

.nav-link {
    color: rgba(255, 16, 0, 0.69) !important;
    font-weight: bold;
    text-transform: uppercase;
}

/* Home Page */

button {
    border-radius: 5px;
    padding: 15px 30px;
    background-color: #ffcf00;
    color: white;
    text-shadow: 2px 2px 2px black;
    font-weight: bold;
    border: none;
    box-shadow: 2px 2px 2px black;
    display: block;
    margin: 0 auto;
    width: 300px;
    margin-bottom: 20px;
    text-transform: uppercase;

}

.maintitle, h1 {
    color: white;
    text-shadow: 2px 2px 2px black;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.subtitle {
    color: white;
    text-shadow: 2px 2px 2px black;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

/* Carousel */

.container {
    position: relative;
    width: 50vh;
    margin: 100px auto 0 auto;
    perspective: 1000px;
}

.carousel {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: rotate360 60s infinite forwards linear;
}

.carousel__face {
    position: absolute;
    width: 300px;
    height: 187px;
    top: 20px;
    left: 10px;
    right: 10px;
    background-size: cover;
    /*box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.5);*/
    display: flex;
}

span {
    margin: auto;
    font-size: 2rem;
}

.carousel__face:nth-child(1) {
    background-image: url("https://th.bing.com/th/id/OIP.OsmvvVKTr6uk_tXjU3OOtQHaEs?pid=ImgDet&rs=1");
    transform: rotateY(0deg) translateZ(430px);
}

.carousel__face:nth-child(2) {
    background-image: url("https://www.hdwallpapers.in/download/superman_dc_comics_superhero_4k-HD.jpg");
    transform: rotateY(40deg) translateZ(430px);
}

.carousel__face:nth-child(3) {
    background-image: url("https://image.tmdb.org/t/p/original/8MGrFo59r0JvLLOAVB77b5SJc6l.jpg");
    transform: rotateY(80deg) translateZ(430px);
}

.carousel__face:nth-child(4) {
    background-image: url("https://th.bing.com/th/id/R.991550abd8af5cf4ee0add0e5ebb912d?rik=De9KjkATw5NTsA&pid=ImgRaw&r=0");
    transform: rotateY(120deg) translateZ(430px);
}

.carousel__face:nth-child(5) {
    background-image: url("https://th.bing.com/th/id/OIP.0akNbhTf4PkOEdEBj_cJtQHaEf?pid=ImgDet&rs=1");
    transform: rotateY(160deg) translateZ(430px);
}

.carousel__face:nth-child(6) {
    background-image: url("https://townsquare.media/site/442/files/2013/02/x-men-storm.jpg?w=1200&h=0&zc=1&s=0&a=t&q=89");
    transform: rotateY(200deg) translateZ(430px);
}

.carousel__face:nth-child(7) {
    background-image: url("https://cdn.mos.cms.futurecdn.net/2NBcYamXxLpvA77ciPfKZW-1200-80.jpg");
    transform: rotateY(240deg) translateZ(430px);
}

.carousel__face:nth-child(8) {
    background-image: url("https://th.bing.com/th/id/R.708f44bcac2598adb1f39bd555aa2e99?rik=wFOhM6wPrmq1Hw&pid=ImgRaw&r=0");
    transform: rotateY(280deg) translateZ(430px);
}

.carousel__face:nth-child(9) {
    background-image: url("https://images6.alphacoders.com/111/1115052.jpg");
    transform: rotateY(320deg) translateZ(430px);
}

@keyframes rotate360 {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(-360deg);
    }
}

/* Form */

form {
    width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
}

input, select {
    width: 500px !important;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 20px;
}

input:focus {
    outline: none;
}

input[type="submit"] {
    background-color: #ffcf00 !important;
    color: white !important;
    text-shadow: 2px 2px 2px black !important;
    font-weight: bold !important;
    border: none !important;
    box-shadow: 2px 2px 2px black;
    display: block;
    margin: 0 auto;
    width: 300px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}
